<%= form_for :session, :url => sessions_path do |f| -%>
    <div class="field">
        <%= f.label :email, "eMail" %>
        <%= f.email_field :email %>
    </div>
    
    <div class="field">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password %>
    </div>
    
    <div class="actions">
        <%= f.submit "Sign In", :disable_with => 'Signing In...' %>
    </div>
<% end -%>
