<header>
    <h1>Welcome Ben Batschelet</h1>
    
    <nav>
        <%= link_to "Home", root_path %> |
        <%= link_to "About", about_path %> | 
        <%= link_to "Help", help_path %>
    </nav>
    
    <% if signed_in? %>
        <%= link_to "Log Out", signout_path, {'class' => 'authLink'} %>
    <% else %>
        <%= link_to "Log In", signin_path, {'class' => 'authLink'} %>
        <%= link_to "Sign Up", signup_path, {'class' => 'signupLink'} %>
    <% end %>
</header>
